control/log
control/qt/*.o
control/qt/moc*
control/qt/Makefile
control/qt/quadro
control/qt/quadro.pro.user
control/qt/ui*

debug/pid_test/*.o
debug/pid_test/moc*
debug/pid_test/Makefile
debug/pid_test/pid_test
debug/pid_test/pid_test.pro.user
debug/pid_test/ui*

*.eep
*.a
*.svn-base
.DS_Store

arduino/quadrocopter_oop/quadrocopter_oop.pro.user
arduino/quadrocopter_oop/quadrocopter_oop.pro

debug/accel_test/201211

arduino/quadrocopter_oop_ino/

arduino/quadrocopter_oop/KalmanFilter.cpp
arduino/quadrocopter_oop/KalmanFilter.h

*.autosave
*~
*.map
*.hex
*.lst
*.elf
*.o
