control/log
control/qt/*.o
control/qt/moc*
control/qt/Makefile
control/qt/quadro
control/qt/quadro.pro.user
control/qt/ui*

pid_test/*.o
pid_test/moc*
pid_test/Makefile
pid_test/pid_test
pid_test/pid_test.pro.user
pid_test/ui*

arduino/quadrocopter_oop/quadrocopter_oop.pro.user
arduino/quadrocopter_oop/quadrocopter_oop.pro

accel_test/201211

arduino/quadrocopter_oop_ino/

arduino/quadrocopter_oop/KalmanFilter.cpp
arduino/quadrocopter_oop/KalmanFilter.h

*.autosave
*~
