control/log
control/qt/*.o
control/qt/moc*
control/qt/Makefile
control/qt/quadro
control/qt/quadro.pro.user
control/qt/ui*
arduino/auto_controlled_engine_set_oop/auto_controlled_engine_set_oop.pro.user
arduino/auto_controlled_engine_set_oop/auto_controlled_engine_set_oop.pro
